<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>

<h2 th:text="Registration form">Registration Form</h2>
<form name="registration" th:action="/registration" method="post">
    <label for="firstname">FirstName</label>
    <br>
    <input type="text" id="firstname" name="firstname" th:required="required">
    <br>
    <label for="secondname">SecondName</label>
    <br>
    <input type="text" id="secondname" name="secondname" th:required="required">
    <br>
    <label for="email">Email:</label>
    <br>
    <input type="email" id="email" th:name="Email" th:required="">
    <br>
    <label for="password">Password:</label>
    <br>
    <input type="password" id="password" name="Password">
    <br>
    <input type="submit" value="Sing up" >
</form>

</body>
</html>